h1 {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 1em;
}

h2,
div {
    text-align: center;
}

table {
    border: .1em solid black;
    border-collapse: collapse;
    width: 45em;
    margin: 0px auto;
}

thead,
tfoot {
    background-color: rgb(228 240 245);
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

#error-td{
    background-color: red;
    font-weight: bold;
    color: white;
}

.mismatch {
    background-color: rgb(250, 57, 57);
}

.mismatch::after {
    content: ': Mismtached Course ID';
    animation: strobe 1s linear infinite;
    font-weight: bold;
}

@keyframes strobe {
    50% {
        opacity: 0;
    }
}